* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	padding: 20px;
	background: linear-gradient(to right, #FFB696, #FFD0CC);
}

section {
	display: flex;
	align-items: center !important;
	justify-content: center !important;
	flex-wrap: wrap;
	width: 100%;
	min-height: 100vh;
}

.janelaModalCod {
	padding: 20px;
	width: 800px;
	max-width: 100%;
	height: 500px;
	max-height: 100%;
	background-image: url(bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 4px;
	text-align: center;
	box-shadow: black 0 0 20px 1px;
}

.janelaModalCod h3 {
	font-size: 26px;
	margin: 10px 0;
}

span.kate {
	font-weight: bold;
	font-size: 50px;
}

.areaBtn {
	margin: 10px 0;
}

.cod {
	border: none;
	border-radius: 4px;
	padding: 10px;
	background-color: beige;
}

.cod:focus {
	border: 1px solid white;
	background-color: pink;
	outline: pink;
}

.btnCod {
	background-color: rgb(250, 0, 42);
	font-weight: bold;
	border: none;
	padding: 10px;
	cursor: pointer;
}

.imgBtn img {
	margin: 30px 0;
	box-shadow: black 0 0 5px 1px;
}

.janelaMod {
	width: 500px;
	max-width: 100%;
	height: 400px;
	max-height: 100%;
	border-radius: 4px;
	text-align: center;
	transition: .5s;
}

.imgJanela {
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-image: url("jessie.jpeg");
	background-size: contain;
}

/* 
.transparente {
	color: transparent;
} */

/* .cardJanelaMod {

	margin: auto;
	margin-top: 5%;
	width: 40%;
	height: 30%;
	min-height: 20%;
	border: 1px pink solid;
	border-radius: 25px;
	text-align: center;
	transition: .5s;

} */

.imgCardJanela, .imgCardJanela2, .imgCardJanela3 {
	width: 600px;
	max-width: 100%;
	height: 600px;
	max-height: 100%;
	min-height: 20%;
	border-radius: 4px;
	box-shadow: #0000006c 0 0 20px 1px;
	margin: 20px;
}

.lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	margin-top: 50%;
	margin-bottom: 50%
}

.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}






/*codigo antigo*/


/* 
html {
	background-image:
	url("https://wallpapers.com/images/featured-full/pink-glitter-r7thsvoqwunp5h95.jpg");
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat, repeat;
	font-family: 'Montserrat', sans-serif;
} */
/* 
@media only screen and (max-device-width: 900px) {

	.janelaModalCod {
		margin: auto;
		margin-top: 10%;
		width: 90%;
		height: 70%;
		min-height: 30%;
		background-color: #CE93D8;
		border: 1px pink solid;
		border-radius: 25px;
		text-align: center;


	} */
/* 
	.kate {
		font-weight: bold;
		font-family: monospace;
		font-size: 10px;
		font-style: italic;
		color: blue;
	} */

/* .areaBtn {
		margin-top: 5%;
	}

	.cod {

		border: 1px solid black;
		border-radius: 5px;
		color-scheme: normal;
		color: #EA80FC;
		outline: pink;
		width: 15%;
		height: 5%;
		margin-bottom: 60px;

	}

	.cod:hover {
		cursor: normal;
	}

	.cod:focus {
		border: 1px solid white;
		background-color: pink;
		color: white;

	}

	.btnCod {
		height: 30px;

	}

	.imgBtn {
		margin-bottom: 5px;
	}

	.janelaMod {
		margin: auto;
		margin-top: 10%;
		width: 100%;
		height: 90%;
		min-height: 20%;
		border: 1px pink solid;
		border-radius: 25px;
		text-align: center;
		transition: .5s;


	}

	.imgJanela {
		width: 100%;
		height: 100%;
		border-radius: 25px;
		background-color: transparent;
		background-image: url("jessie.jpeg");
		background-size: auto;


	}

	.transparente {
		color: transparent;
	}

	.imgCardJanela {

		margin: auto;
		margin-top: 5%;
		width: 100%;
		height: 90%;
		min-height: 20%;
		border: 1px pink solid;
		border-radius: 25px;
		text-align: center;
		transition: .5s;
		transition: transform 0.6s;
		transform-style: preserve-3d;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);



	}

} */

/* 
.janelaModalCod {
	margin: auto;
	margin-top: 5%;
	width: 40%;
	height: 30%;
	min-height: 30%;
	background-color: #CE93D8;
	border: 1px pink solid;
	border-radius: 25px;
	text-align: center;
	transition: display .5s;


} */

/* 
.kate {
	font-weight: bold;
	font-family: monospace;
	font-size: 25px;
	font-style: italic;
	color: white;
} */
/* 
.areaBtn {
	margin-top: 5%;
}

.cod {

	border: 1px solid black;
	border-radius: 5px;
	color-scheme: normal;
	color: #EA80FC;
	outline: pink;
	height: 30px;
	margin-bottom: 60px;

}

.cod:hover {
	cursor: normal;
}

.cod:focus {
	border: 1px solid white;
	background-color: pink;
	color: white;

}

.btnCod {
	height: 30px;

}

.imgBtn {
	margin-bottom: 5px;
}

.janelaMod {
	margin: auto;
	margin-top: 10%;
	width: 40%;
	height: 30%;
	min-height: 20%;
	border: 1px pink solid;
	border-radius: 25px;
	text-align: center;
	transition: .5s;


}

.imgJanela {
	width: 100%;
	height: 100%;
	border-radius: 25px;
	background-color: transparent;
	background-image: url("jessie.jpeg");

	background-size: contain;

}

.transparente {
	color: transparent;
}

.cardJanelaMod {

	margin: auto;
	margin-top: 5%;
	width: 40%;
	height: 30%;
	min-height: 20%;
	border: 1px pink solid;
	border-radius: 25px;
	text-align: center;
	transition: .5s;

}

.imgCardJanela {

	margin: auto;
	margin-top: 5%;
	width: 40%;
	height: 30%;
	min-height: 20%;
	border: 1px pink solid;
	border-radius: 25px;
	text-align: center;
	transition: .5s;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);



}

.lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	margin-top: 50%;
	margin-bottom: 50%
}

.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}



 */




/*codigo antigo*/










/*.flip-card {
  background-color: transparent;
  width: 40%;
  height: 30%;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:target .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
.flip-card-back img{
	width: 100%;
}
label {
    display: block;
    background: lightgrey;
    width: 100px;
    height: 100px;
}

#demo:checked + label {
    background: blue;
    color: white;
}*/
